<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nanchengyu.errand.mapper.CertificationMapper">

    <resultMap id="BaseResultMap" type="cn.nanchengyu.errand.entity.Certification">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="cardNo" column="card_no" jdbcType="VARCHAR"/>
            <result property="card1" column="card1" jdbcType="VARCHAR"/>
            <result property="card2" column="card2" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="reason" column="reason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user id,name,
        avatar,phone,card_no,
        card1,card2,address,
        status,reason
    </sql>
    <select id="selectAll" resultType="cn.nanchengyu.errand.entity.Certification">
        select * from errand.certification
    </select>
</mapper>
